<!-- <h1>Welcome to our Project by TAOUFIQ BOUGHNAM</h1>
<app-panel>
    <div class="header">
        This is the header
    </div>
    <div class="body">
        <h2>This is body</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium nemo necessitatibus quis quibusdam consequatur odit debitis sapiente amet quas itaque quasi impedit veniam temporibus vitae dolores cum maxime, eligendi quidem?</p>
    </div>
</app-panel>

<app-favorite [is-fav]="post.isFavorite" [is-kay]="post.title" (change)="onFavoriteChange($event)"></app-favorite>
<app-courses></app-courses> -->

<app-navbar></app-navbar>

<router-outlet></router-outlet>

 <!-- Dernier 06/01/2022
     
    
    
    
    <br><br> 

<div class="container">
    <div class="col-md-6 col-md-offset-3 ">
        <app-posts></app-posts>
        <br><br><br><br>
        <br><br><br><br>
        <app-signup-form></app-signup-form>
        <br><br><br><br>
        <app-contact-form></app-contact-form>

    </div>
</div> -->





<!-- <br><br>


<input type="text"  [appInputFormat]="'lowercase'">

<br><br>

<p>{{ personne.adresse?.ville }}</p>

<br><br>
<button  (click)="loadCourses()">Load</button>
<br><br>
<button class="btn btn-success" (click)="addCourse()">Ajouter</button>
<br><br>

<ul>
    <li *ngFor="let course of coursesFor; trackBy: trackCourses; index as i; even as isEven; first as isFirst; last as isLast">
        <span *ngIf="isEven">Even Pair- </span>
        <span *ngIf="isFirst">First - </span>
        <span *ngIf="isLast">Last - </span>
        {{i}} {{course.id}} {{course.title}}
        <button class="btn btn-danger" (click)="deleteCourse(course)">Delete</button>
        <button class="btn btn-warning" (click)="UpdateCourse(course)">Update</button>


    </li>
</ul> -->

<!-- <br><br>
<ul class="nav nav-pills">
    <li class="nav-item"><a style="cursor: grab;" class="nav-link" [class.active]="viewCourse == 'Laravel'" (click)="viewCourse = 'Laravel'">Laravel</a></li>
    <li class="nav-item"><a style="cursor: grab;" class="nav-link"  [class.active]="viewCourse == 'Angular'" (click)="viewCourse = 'Angular'">Angular</a></li>
    <li class="nav-item"><a style="cursor: grab;" class="nav-link" [class.active]="viewCourse == 'Symfony'" (click)="viewCourse = 'Symfony'">Symfony</a></li>
</ul>
<br><br>
<div [ngSwitch]="viewCourse">
    <div *ngSwitchCase = "'Laravel'">Lorem Laravel</div>
    <div *ngSwitchCase = "'Angular'">Lorem Angular</div>
    <div *ngSwitchCase = "'Symfony'">Lorem Symfony</div>
    <div *ngSwitchDefault>Autre Chose ....</div>
</div> -->


<!--  aadfaf -->
<!-- <br><br><br><br><br><br><br>
<div *ngIf="courses.length > 0; then yesCours; else noCours">
    
</div> -->

<!-- Nope
    
    <div *ngIf="courses.length == 0">
    pas de cours
</div> -->

<!-- 
<ng-template #yesCours>
    Liste de mes cours
</ng-template>
<ng-template #noCours>
    pas de cours
</ng-template>


<div [hidden]="courses.length == 0">
    Liste de mes cours
</div>
<div [hidden]="courses.length > 0">
    pas de cours
</div>

 -->








